.discover-professionals-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.discover-professionals-heading {
  color: var(--neutral-02);
  padding-left: 10px;
}

.discover-professionals-list {
  display: grid;
  gap: 0.5rem;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(156px, 1fr))
}

.slider {
  display: flex;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding-right: 10px;
}

.slider__sort{
  display: none;
  align-self: flex-end;
  color: var(--primary-03);
}

.active{
  display: initial;
}

@media screen and (max-width:1136px) {
  .discover-professionals-list{
    grid-template-columns: repeat(3, minmax(164px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .discover-professionals-list{
    grid-template-columns: repeat(2, minmax(164px, 1fr));
  }
}
