.discover-professionals-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 65%;
}

.discover-professionals-heading {
  color: var(--neutral-02);
  padding-left: 10px;
}

.discover-professionals-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-top: 0.875rem;
}

.slider {
  display: flex;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding-right: 10px;
}

.slider__sort {
  display: none;
  align-self: flex-end;
  color: var(--primary-03);
}
.slider__sort li{
  cursor: pointer;
  margin: 0 0.3rem;
}
.active {
  display: initial;
}


@media screen and (max-width: 768px) {

  .slider {
    display: none;
  }

  .discover-professionals-heading {
    font-size: 1.5rem;
  }

  .discover-professionals-box {
    width: 100%;
  }

  .discover-professionals-list {
    flex-wrap: nowrap;
    overflow:scroll;
  }
}

@media screen and (max-width: 1024px) {
  .discover-professionals-box {
    width: 90%;
  }
}
