.movie {
  display: none;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  transition-duration: 0.5s;
  animation: moveUp 1s ease-out;
}
.movie__close {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  margin: 0.5rem;
}
.active,
.presentation_descrition,
.presentation_list,
.presentation__search--container {
  display: flex;
  align-items: center;
  font-weight: var(--heading-1-weight);
  vertical-align: middle;
}

.presentation_descrition {
  color: var(--neutral-03);
  background-color: var(--secondary-02);
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
  padding: 3rem;
  position: relative;
  text-align: center;
}
.presentation_descrition--play {
  background-color: transparent;
  border: solid 2px var(--primary-01);
  border-radius: 1rem;
  color: var(--neutral-03);
  text-transform: uppercase;
  padding: 1rem;
  width: 12rem;
}
.presentation_descrition--play svg {
  margin-right: 1rem;
}
.presentation_list {
  justify-content: space-around;
  color: var(--color-standard);
  height: 40vh;
  padding: 3rem;
}

.presentation_list img {
  height: 200px;
}

.presentation__search {
  background-color: var(--primary-01);
}

.presentation__search--container {
  justify-content: space-between;
  height: 22vh;
}
.presentation__search img {
  width: 300px;
  align-self: flex-end;
  padding-left: 150px;
}

.presentation_list p {
  margin-top: 10px;
}

.presentation__search--descrition {
  display: flex;
  line-height: 1.3;
  color: var(--neutral-03);
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
  width: 70%;
  height: 15vh;
  padding-right: 150px;
}

.presentation__search--descrition h4 {
  font-weight: bold;
}

.presentation__search--descrition p {
  font-weight: var(--body-weight);
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    width: 100%;
  }

  .presentation_list {
    height: 30vh;
  }

  .presentation_list li {
    margin: 1rem 0;
    height: auto;
  }

  .presentation_list img {
    height: 100px;
  }

  .presentation__search img {
    padding-left: 100px;
  }

  .presentation__search--descrition {
    font-size: 1.5rem;
    max-width: 300px;
    padding-right: 100px;
  }

  .presentation__search--descrition h4 {
    font-size: 1.3rem;
  }

  .presentation__search--descrition p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .presentation__search--descrition {
    display: none;
  }

  .presentation__search img {
    display: none;
  }

  .presentation__search--container {
    display: none;
  }

  .presentation_list {
    display: none;
  }
}
