.search,
.search-component,
.options,
.options__list {
  display: flex;
  align-items: center;
}

.search-component {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: center;
  align-items: center;
  height: 563px;
}

#img1 {
  margin-right: auto;
}

#img2 {
  margin-left: auto;
}

#find-mentors-heading {
  color: var(--neutral-02);
  text-align: center;
  margin-bottom: 50px;
}

.options {
  margin: 1rem;
}

.options__name {
  color: var(--primary-03);
  font-weight: var(--heading-4-weight);
}

.options__item {
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: var(--primary-02);
  border-radius: 2rem;
  width: 5rem;
}
.search {
  display: flex;
  width: 33%;
  height: 43px;
  border: 2px solid var(--primary-03);
  border-radius: 0.875rem;
}

#search-input {
  border: none;
  margin-left: 15px;
  width: 90%;
  font-size: 1rem;
}

#search-input:focus {
  outline: none;
}

#search-icon {
  color: var(--primary-01);
  opacity: 50%;
  transform: translate(10px, 6px);
}
