.businessCard,
.businessCard__descrition,
.businessCard__descrition--data,
.businessCard__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}
.businessCard {
  position: relative;
  top: -30px;
}
.businessCard__cover {
  background-image: url(../../assets/profile-cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
}
.businessCard__descrition button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10rem;
  top: 3rem;
  z-index: 1;
}
.businessCard__photo {
  border: 5px solid var(--primary-01);
  border-radius: 100%;
  height: 9rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  position: relative;
  top: -30px;
  width: 9rem;
}
.businessCard__photo img {
  bottom: 0;
  margin: auto;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 9rem;
}
.businessCard__descrition--data {
  align-items: flex-start;
  flex-direction: column;
}
.businessCard__menu {
  justify-content: flex-start;
}
.businessCard__menu--item {
  border-bottom: solid 5px transparent;
  color: var(--neutral-02);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: var(--heading-4-weight);
  margin: 0 1rem;
  opacity: 0.6;
  text-decoration: none;
  transition: all 0.4s linear;
}
.active {
  opacity: 1;
  border-bottom: solid 5px var(--primary-01);
}
.businessCard__experienceCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skill_list--item {
  background: rgba(98, 99, 171, 0.4);
  border: 1px solid var(--secondary-02);
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  margin: 0.1rem 0.6rem;
  min-height: 1rem;
  padding: 0.6rem;
  text-align: center;
  width: 6rem;
}
.businessCard__load{
  color:var(--primary-01);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem;
}
.businessCard__load span{
  font-size: 3rem;
  
}
.businessCard__load span:nth-last-child(1) {
  animation: loading 0.6s 0.1s linear infinite;
}
.businessCard__load span:nth-last-child(2) {
  animation: loading 0.6s 0.2s linear infinite;
}
.businessCard__load span:nth-last-child(3) {
  animation: loading 0.6s 0.3s linear infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}