.favorites-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.favorites-subbox {
  width: 80%;
  margin: 0 auto 120px;
  display: flex;
  flex-direction: column;
}

.favorite-professionals-box {
  width: 80%;
  margin: 0 auto 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.orange-box {
  width: 100vw;
  height: 396px;
  background-color: var(--primary-01);
}
