.login__component__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__component {
  color: var(--neutral-02);
  width: 330px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  text-align: center;
}

.greeting {
  margin-bottom: 90px;
}
.greeting h2 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.naosei {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.forgot__password {
  color: var(--primary-03);
}
.click__here {
  text-decoration: none;
  color: var(--primary-03);
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.first__access {
  color: #616161;
}
