.schedulingCard__menu,.schedulingCard__item,.schedulingCard__item-option{
    display: flex;
    justify-content: center ;
}
.schedulingCard__menu--option{
    background-color: transparent;
    border: solid 3px var(--neutral-02);
    border-radius: 1rem;
    height: 4rem;
    margin: 1rem;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s linear;
    width: 10rem;
}
.ativo{
    border: solid 3px var(--primary-01);
    text-align: center;
    opacity: 1;
    box-shadow: inset 0px 0px 20px #FE4400;
}
.schedulingCard__item{
    padding: 2rem;
}
.schedulingCard__item-option{
    flex-direction: column;
    align-items:center;
}