.header {
  background: var(--neutral-03);
  background-color: var(--neutral-03);
  border-bottom: 1px solid #c4c4c4;
  box-sizing: border-box;
  height: 5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header_container,
.header__profile,
.header__profile--data,
.header__profile--nav {
  display: flex;
}

.header__profile {
  margin-right: 100px;
  align-items: center;
  justify-content: center;
}

.header_container {
  justify-content: space-between;
  vertical-align: middle;
}

.header__conect {
  background-color: transparent;
  border: 3px solid var(--primary-01);
  border-radius: 1rem;
  margin: 1rem 100px 1rem 0;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}

.header__logo {
  align-self: center;
  height: 2rem;
  margin-left: 100px;
}

.header__profile--data {
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  margin-right: 10px;
}

.header__profile--data button {
  display: flex;
  border: none;
  background-color: transparent;
  color: var(--primary-03);
  font-weight: var(--heading-5-weight);
  text-align: center;
  margin-top: 5px;
}

.header__profile--data button svg {
  margin-right: 5px;
}

.header__profile--decoration {
  background: var(--neutral-01);
  clip-path: polygon(50% 0%, 0 100%, 100% 100%);
  height: 2rem;
  right: 65px;
  top: 35px;
  position: absolute;
  width: 4.5rem;
  z-index: 3;
}

.header__profile--nav {
  background: var(--neutral-01);
  box-shadow: -1px -6px 55px -1px rgba(196, 196, 196, 1);
  border-radius: 10px;
  flex-direction: column;
  height: auto;
  padding: 1rem;
  position: absolute;
  right: 60px;
  top: 50px;
  vertical-align: middle;
  width: 7rem;
  z-index: 2;
}

.header__conect a,
.header__profile--nav a {
  color: var(--color-standard);
  text-decoration: none;
  margin: 0.3rem 0;
}

.header__profile--nav a svg {
  margin: 0 0.2rem;
}
#header-exit {
  border-top: 1px solid var(--neutral-02);
  padding-top: 0.5rem;
}
.header__photo {
  align-self: baseline;
  border: 2px solid var(--primary-03);
  border-radius: 100%;
  height: 3.5rem;
  margin: 0.5rem 0;
  overflow: hidden;
  position: relative;
  width: 3.5rem;
}
.header__photo img {
  bottom: 0;
  margin: auto;
  left: 0;
  object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5rem;
}

#hello-user {
  margin-right: 5px;
}

#drop-down-button {
  display: flex;
  margin-top: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}

#drop-down-icon {
  margin-right: 5px;
}

@media screen and (max-width: 375px) {
  .header__profile--data h5 {
    display: none;
  }

  .header__profile--data button {
    font-size: small;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    margin-left: 20px;
    height: 1.5rem;
  }

  .header__profile {
    margin-right: 20px;
  }

  .header__profile--data h5 {
    font-size: medium;
  }

  .header__profile--data button {
    font-size: medium;
  }

  .header__conect {
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 20px;
  }

  .header__profile {
    margin-right: 20px;
  }

  .header__profile--data h5 {
    font-size: medium;
  }

  .header__profile--data button {
    font-size: medium;
  }

  .header__conect {
    margin-right: 20px;
  }
}
