.header {
  display: flex;
  align-content: center;
  background-color: var(--neutral-01);
  height: 4rem;
  padding: 2rem 6rem;
  vertical-align: center;
  background: var(--neutral-03);
  border-bottom: 1px solid #c4c4c4;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}

.header__box{
    display: flex;
}

.header__logo {
    align-self: center;
    position: absolute;
    width: 453px;
    height: 63px;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 2rem;
  }
}
