.card {
  display: flex;
  align-items: center;
  background-color: none;
  border: 2px solid var(--primary-03);
  border-radius: 1rem;
  color:var(--color-standard);
  flex-direction: column;
  height: 230px;
  margin: 2rem 0;
  padding: 0.8rem;
  position: relative;
  justify-content: center;
  width: 193px;
}
.card__heart--button {
  border: none;
  background-color: transparent;
  position: absolute;
  top:0.3rem;
  right: 0.3rem;
}

.card__image {
  border-radius: 100%;
  height: 110px;
  margin-bottom: .5rem;
  overflow:hidden;
  width: 110px;
}

.card__image--src {
  width: 100%;;
}
.card__descriptions{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
  width: 100%;
}
.card__descriptions--name {
  font-weight: bold;
}

.card__descriptions--area {
  font-size: 0.7rem;
}

.card__descriptions--button {
  background-color: var(--secondary-02);
  border: none;
  border-radius: 0.625rem;
  color: var(--neutral-03);
  font-size: 0.8rem;;
  height: 2rem;
  text-transform: uppercase;
  width: 90%;
}
