.spotlight {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.spotlight svg {
  animation: pageDown 2s infinite;
  bottom: 2.5rem;
  left: 0; 
  margin: 0 auto;
  right: 0; 
  position: absolute;
}
.spotlight__description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}
.spotlight__description--title {
  color: var(--primary-01);
}
.spotlight__description--text {
  font-weight: 500;
  width: 60%;
}
.spotlight__description--singIn {
  background-color: var(--primary-01);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 30px rgba(185, 50, 0, 0.4),
    0px 10px 30px rgba(0, 0, 0, 0.25);
  color: var(--neutral-01);
  font-size: 1.5rem;
  height: 2rem;
  justify-self: flex-end;
  margin-top: 3rem;
  text-transform: uppercase;
  width: 25rem;
}
.spotlight__description--singIn:hover{
    opacity: 0.8;
}
.spotlight__description--title,
.spotlight__description--text {
  margin: 0.5rem 0;
}
.spotlight__image {
  width: 350px;
}

@keyframes pageDown {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .spotlight__description{
    width: 100%;
  }
  .spotlight__description--singIn{
    width: 250px;
    z-index: 2;
  }
  .spotlight__image{
    position: absolute;
    z-index: -2;
    opacity: 0.6;
  }
}